<!DOCTYPE html>
<html>
<head>
	<title>Vue Slider</title>
	<style>
		img {
			padding: 5px;
			width: 100px;
			height: 100px;
		}
		.preview {
			border-bottom: 2px solid black;
		}
	</style>
</head>
<body>
	<div id="app">
		<h2>{{ title }}</h2>
		<h3>Image Allowed: {{ repeatedFieldsAllowed }}</h3>
	  <!--  -->
	  <button @click="showAddForm">Add</button>
	  	<div v-if="flag">
		  <form>
			<input type="file" @change="selectSliderImage($event)">
		  </form>
	    </div>


	  <div>
	  	<div v-for="(url, index) in urls" class="preview">
			<img :src="url">
	  		<input type="file" @change="onFileChange($event, index)" />
	  	</div>
	  </div>

	  <div>
	  	<img width="100" height="100" :src="singleImage">
	  </div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      const vm = new Vue({
		  el: '#app',
		  data() {
		    return {
		    	title: 'Vue Image Preview',
		      	urls: [
		      		'https://via.placeholder.com/350x150',
		      		'https://via.placeholder.com/360x150',
		      		'https://via.placeholder.com/370x150'
		      	],
		      	singleImage: null,
		      	flag : false,
				repeatedFieldsAllowed: 4
		    }
		  },
		  methods: {
		    onFileChange(e, index) {
		    	const file = e.target.files[0];
      			this.singleImage = URL.createObjectURL(file)
      			this.urls[index] = URL.createObjectURL(file)
		    },
		    showAddForm() {
				var sliderCount = this.urls.length
				if(sliderCount < this.repeatedFieldsAllowed){
					this.flag = true
				}
				else {
					alert("Limit Exceeds")
				}	
		    },
			selectSliderImage(e) {
				var sliderCount = this.urls.length
				console.log('Allowed: '+this.repeatedFieldsAllowed+' and count'+ sliderCount)
				if(sliderCount < this.repeatedFieldsAllowed){
					const file = e.target.files[0];
					this.urls.push(URL.createObjectURL(file)) 
				}
				else {
					alert("Limit Exceeds")
				}
				
			}
		  }
		})
    </script>
</body>
</html>